<div class="container text-center">

    <h2>Agregar nuevo empleado en: " empresa "</h2>
</div>

<form class="container border p-3">
    <div class="form-group pb-3">
        <label>Nombre completo:</label>
        <input type="number" class="form-control" placeholder="Ingresar Rut empresa">
    </div>
    <div class="form-group pb-3">
        <label>Rut:</label>
        <input type="text" class="form-control" placeholder="Ingresar Nombre Empresa">
    </div>
    <div class="form-group pb-3">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    <button  type="submit" class="btn btn-primary">Submit</button>
    </form>
