<div class="container text-center">

    <h2>Agregar nueva empresa</h2>
</div>

<form class="container border p-3">
    <div class="form-group pb-3">
        <label>Rut Empresa:</label>
        <input type="number" class="form-control" placeholder="Ingresar Rut empresa">
    </div>
    <div class="form-group pb-3">
        <label>Nombre Empresa:</label>
        <input type="text" class="form-control" placeholder="Ingresar Nombre Empresa">
    </div>
    <div class="form-group pb-3">
        <label>Dirección:</label>
        <input type="text" class="form-control" placeholder="Ingresar Dirección Empresa">
    </div>
    <button  type="submit" class="btn btn-primary">Submit</button>
    </form>
